.footer-container {
    background-color: #2e3a59;
    color: #ffffff;
    text-align: center;
    padding: 1.5rem 1rem;
    bottom: 0;
    font-family: "Segoe UI", sans-serif;
    position: fixed;
    width: 100%;
left: 0;
    
  }
  
  .footer-title {
    font-size: 1.3rem;
    font-weight: 600;
    margin-bottom: 0.3rem;
  }
  
  .footer-text {
    font-size: 0.9rem;
    opacity: 0.8;
  }

  
  